@media(max-width: 600px){
    .link-div{
        width: 100%;
    }
    .icons-ul{
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: space-around !important;
        margin-top: 1rem;
    }
    .icons-ul li{
        display: inline-block !important;
    }
    a i{
        font-size: 1.5rem;
        color: var(--light-blue-bg);
    }
    .normal-search-div{
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: flex;

    }
    .search-bar-container{
        width: fit-content !important;
        display: flex;
        flex: 1;
        width: 100%;
        border: 1px solid gray;
        height: 2rem;
        border-radius: 3px;
        margin: 0rem 1rem;
        background-color: var(--semi-dark-bg);
        position: relative;
        align-items: center;
    }
    .search-bar-container label{
        color: var(--text-color-light);
        position: absolute;
    }
}

@media(max-width: 600px){
    a i{
        font-size: 1.5rem;
        color: var(--light-blue-bg);
    }
    .icons-ul li a{
        padding: 0rem !important;
    }
    #const-header{
        flex-direction: column;
        width: 100vw;
    }
    header{
        padding: 0;
        margin: 0;
    }
}

#const-header #search-bar-container{
    display: none !important;
}
#const-header{
    padding: 0.75rem 0rem!important;
}
.links-ul{
    display: none !important;
}
.link-div button{
    width: fit-content !important;
    display: none;
}